<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="titulo" class="form-control" placeholder="Titulo" autofocus>
                        </div>

                        <div class="form-group">
                            <textarea name="contenido" rows="10" class="form-control" placeholder="Contenido">{{{link.contenido}}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



</footer>

<!-- Bootstrap core JavaScript -->


<script>
    $(document).ready(function () {
       setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000);
    });
</script>
</body>

</html>







<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
				  <script>
						 CKEDITOR.replace( 'contenido' );
						 
					  </script>