
<container >
<div class="text-center" >
        <h1 class="text-center">{{link.titulo}}</h1>
        <p class="row justify-content-center mb-4">{{{link.contenido}}}</p>
</div> 


</container>   







